@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Open Sans;
}
:root {
  --neon-green: #8ffe33;
  --neon-purple: #6833ff;
  --neon-pink: #fe33a9;
  --neon-light-blue: #33c3ff;
  --neon-blue: #32ebff;
}
body {
  background-color: black;
}

.aqua-btn {
  background-color: var(--neon-blue);
  color: white;
  cursor: pointer;
  border: none;
  text-decoration: none;
}

.bgwhite-border-btn {
  border: 1px solid hsl(0, 0%, 40%);
  background-color: transparent;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding-inline: 1rem;
}
input::placeholder {
  font-family: Open Sans;
  color: white;
}
